.main {
  width: 100%;
  height: 100px;
  /* background-color: rgba(230, 230, 230, 1); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.main .btnBox {
  width: 50px;
  height: 80px;
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .btnBox .btn {
  width: 50px;
  height: 32px;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main .categoryBox{
  width: auto;
  max-width: calc(100% - 140px);
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow: auto;
  
}

.main .categoryBox {
  --sb-track-color: #394044;
  --sb-thumb-color: #6179bd;
  --sb-size: 9px;
}

.main .categoryBox::-webkit-scrollbar {
  height: var(--sb-size)
}

.main .categoryBox::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

.main .categoryBox::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .main .categoryBox {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}